.btn-colour{
    background-color: rgb(146, 120, 68);
}
.banner{
    position: relative;

}
.banner-heading{
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
.text-left{
    text-align: left;
}
.carousel .carousel-item {
    height: 500px;
  }
  .carousel-item img{
    height: 500px;
}

