.btn-colour{
    background-color: rgb(146, 120, 68);
    color: white;
}
.banner{
    position: relative;

}
.banner-heading{
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
.text-left{
    text-align: left;
}
.section{
    background-color: black;
    margin-left: -110px;
    margin-right: -110px;
}


